
.banner{
    background-image: url("./files/istockphoto-1644335160-1024x1024.jpg");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -380px;
}
.slogan{
    color: white;
    font-size: 55px;
    font-family: monospace;
    font-weight: bold;
}
.slogan-row{
    height: 100% !important;
    justify-content: center;
    align-items: center;
}
.parent-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px rgba(210, 210, 210, 0.755);
}
.logo{
    height: 150px;
}
.footer{
    background: rgb(101, 155, 182);
    position: relative;
    top : 30%;
    width: 100%;
    
}
.form-contact{
    margin-bottom: 150px;
}
.error{
    font-size: 100px;
}
.error-form{
    color: rgb(243, 37, 1);
}
.form-login{
    width: 30% !important;
    margin: auto !important;
}
.btn-login{
    margin: 4em auto  !important;
}
.title-article{
    text-align: center;
    font-size: 50px;
}
.chapo-article{
    text-align: center;
    font-size: 40px;
}
.content-article{
    font-size: 20px;
}
.btn-validation{
    display: flex;
    
}
.btn-valid{
    width: auto;
    margin-right: 3em;
}
.nav-management{
    border: solid 1px rgb(184, 184, 184);
    border-radius: 0 0 10px 10px ;
}
.container-management{
    border: solid 1px rgb(184, 184, 184);
    
}
.management-text-parent
{
    height: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}
.management-text{
    justify-content: center;
    align-items: center;
    display: grid;
}
.btn-delete-user{
    width: 70% !important;
}
.line-user{
    border: solid 1px rgb(184, 184, 184);
    align-items: center;
}
.form-role{
    margin: auto;
}
.inline{
    margin: auto;
    height: 100%;
}
.btn-delete-article{
    width: 100% !important;
}