{% extends "layout.html.twig" %}

{% block content %}
	<div class="container container-confirm-form">
		<div class="row text-center">
			<div class="col-12 ">
				<p class="confim-form">Votre message à bien était envoyé</p>
			</div>
			<div class="col-12">
				<a href="index.php" class='btn-style-link'>Revenir à la page d'accueil</a>
			</div>
		</div>
	</div>
{% endblock %}
