{% extends "layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 my-5 text-center">
				<h1>Saisissez l'adress email de votre compte</h1>

			</div>
			<form class="form-login" action="index.php?action=send-password" method="post">
				<div class="row">
					<div class="form-group col-md-12">
						<label for="inputEmail4">Email</label>
						<input type="email" class="form-control inputEmail4" name="input-email" id="input-email" placeholder="Email"/>
						{% if error %}
							<p class="error-form">L'email saisie n'existe pas</p>
						{% endif %}

					</div>
				</div>
				<div class="row">
					<button type="submit" class=" col-3 btn btn-primary btn-login">Envoyer</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
