{% extends "layout.html.twig" %}

{% block content %}
	<div class="banner">
		<div class="container">
			<div class="row slogan-row">
				<div class="col-12 text-center">
					<h1 class="slogan">Le developpeur qui vous correspond</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container presentation">
		<div class="row">
			<h2 class=" my-5 col-12 text-center">Qui suis-je ?</h2>
			<div class="col-6 picture-block">
				<img src="./files/IMG_2300.jpg" class="file-presentation">
			</div>
			<div class="col-6">
				<p class="description-creator">Diplômé en informatique avec une spécialisation en développement web, j'ai acquis une expertise approfondie dans la conception, le développement et la maintenance de sites web dynamiques et fonctionnels. Au cours de mes précédentes expériences professionnelles, j'ai eu l'opportunité de travailler sur une variété de projets, allant de la création de sites vitrines pour des PME à des applications web complexes pour des grandes entreprises.
				Ma maîtrise des langages de programmation tels que HTML, CSS, JavaScript, ainsi que des frameworks populaires comme React.js et Node.js, me permet de concevoir des solutions web innovantes et performantes. De plus, ma capacité à travailler efficacement en équipe, ma rigueur dans le respect des délais et mon souci du détail sont des atouts essentiels qui me permettent de m'intégrer rapidement dans tout environnement professionnel.
				Je suis également passionné par l'apprentissage continu et la recherche constante de nouvelles technologies. Je suis donc toujours à l'affût des dernières tendances et des meilleures pratiques en matière de développement web, afin de garantir des solutions à la fois modernes et robustes.</p>
			</div>
		</div>

	</div>
	<div>
		<div class="container">
			<div class="row">
				<div class=" my-5 col-12 text-center">
					<h2>Me suivre</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-4 text-center">
					<a class="icon-social-main">
						<i class="i-main fa-brands fa-x-twitter"></i>
					</a>
					<p class="mt-4">Twitter</p>
				</div>
				<div class="col-4 text-center">
					<a class="icon-social-main">
						<i class="i-main fa-brands fa-linkedin-in"></i>
					</a>
					<p class="mt-4">Linkdin</p>
				</div>
				<div class="col-4 text-center">
					<a class="icon-social-main">
						<i class="i-main fa-brands fa-github"></i>
					</a>
					<p class="mt-4">Github</p>
				</div>

			</div>
		</div>
	</div>
	<div>
		<div class="container ">
			<div class="row">
				<div class=" my-5 col-12 text-center">
					<h2>Me contacter</h2>
				</div>
				<form class="form-contact" action="index.php?action=form-contact" method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="input-name">Nom</label>
							<input type="text" class="form-control" name="input-name" id="input-name" placeholder="Nom">
							{% if errorName %}
								<p class="error-form">Le Nom est incorrect</p>
							{% endif %}


						</div>
						<div class="form-group col-md-6">
							<label for="input-firstname">Prénom</label>
							<input type="text" class="form-control" name="input-firstname" id="input-firstname" placeholder="Prénom">
							{% if errorFirstname %}
								<p class="error-form">Le Prénom est incorrect</p>
							{% endif %}
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="inputEmail">Email</label>
						<input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email">
						{% if errorMail %}
							<p class="error-form">L'adresse Email est incorrect</p>
						{% endif %}
					</div>
					<div class="form-group col-md-12">
						<label for="inputMessage">Message</label>
						<textarea class="form-control" id="inputMessage" name="inputMessage" placeholder="Expliquez moi votre besoin..."></textarea>
						{% if errorMessage %}
							<p class="error-form">Veuillez nous expliquez votre besoin</p>
						{% endif %}
					</div>
					{% if error %}
						<div class="col-md-12">
							<p class="error-form">Une erreur est survenue veuillez rééssayer ultérieurement.</p>
						</div>

					{% endif %}
					<div class="row">

						<button type="submit" class=" col-3 btn btn-primary btn-login">Envoyer</button>
					</div>
				</form>


			</div>
		</div>
	</div>


{% endblock %}
